name: Run

on:
  watch:
    types: [started]
  repository_dispatch:

jobs:
  build:

    if: github.actor == github.repository_owner
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@main
    - uses: actions/checkout@main
      with:
        repository: 'lkeme/BiliHelper-personal'
    - name: Config
      run: |
        echo "APP_USER=${{ secrets.USER }}" >> user.conf
        echo "APP_PASS=${{ secrets.PASS }}" >> user.conf
        echo "SC_KEY=${{ secrets.SC_KEY }}" >> user.conf
        echo user.conf
		    mv user.conf conf/
    - name: composer install
      run: composer install
    - name: Run
      run: php index.php
